.idea
.fleet

/live2/models/BYC*
/live2/models/elizabeth_2*
/live2/models/elizabeth_4*
/live2/models/elizabeth_5*
/live2/models/elizabeth_6*
/live2/models/histoire*
/live2/models/katou_01*
/live2/models/Kiana*
/live2/models/Kiro*
/live2/models/Kobayaxi*
/live2/models/lili*
/live2/models/magelite*
/live2/models/mashiro*
/live2/models/rem*
/live2/models/safeiya*
/live2/models/tia*